<ion-header>
  <ion-toolbar style="--background: #c73007" >
    <ion-buttons slot="start" routerLink="/home" >
      <ion-icon name="arrow-back-outline" style="color:aliceblue;font-size: 1.7em" (click)="backToHome()" ></ion-icon>
      <!-- <ion-back-button style="color:aliceblue" defaultHref="/home"></ion-back-button> -->
    </ion-buttons>
    <ion-title style="color:aliceblue">
      Contact Us
    </ion-title>
    </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-card>
        <ion-toolbar style="--background: #c73007;color: whitesmoke">
          <ion-segment value="mp5" (ionChange)="showSlide($event)">
            <ion-segment-button value="mp5">
              <ion-label style="color:whitesmoke">ORO</ion-label>
            </ion-segment-button>
            <ion-segment-button value="mprso">
              <ion-label style="color:whitesmoke">MPRSO</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar>
      </ion-card>


      <div *ngIf="show=='mp5'">
        <ion-card *ngFor="let mp of mp5oro">
          <ion-list>
            <!-- <ion-card *ngFor='let m of mp5'> -->
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <ion-icon name="storefront-outline" style="width: 30px;height: 30px;padding-top: 5px;"></ion-icon>
                </ion-avatar>
                <ion-label>
                  <h3 class="ion-text-wrap text1">{{mp.office}}</h3>
                </ion-label>
              </ion-item>
              <ion-item lines="none" class="item1">
                <ion-avatar slot="start">
                  <ion-icon name="home-outline" style="width: 30px;height: 30px;padding-top: 5px;"></ion-icon>
                </ion-avatar>
                <ion-label>
                  <h3 class="ion-text-wrap text">{{mp.address}}</h3>
                </ion-label>
              </ion-item>
              <ion-item lines="none" class="item">
                <ion-avatar slot="start">
                  <ion-icon name="mail-open-outline" style="width: 30px;height: 30px;padding-top: 5px;"></ion-icon>
                </ion-avatar>
                <ion-label>
                  <h3>{{mp.mail}}</h3>
                </ion-label>
              </ion-item>
              <ion-item lines="none" class="item">
                <ion-avatar slot="start">
                  <ion-icon name="logo-whatsapp" style="width: 30px;height: 30px;padding-top: 5px;"></ion-icon>
                </ion-avatar>
                <ion-label>
                  <h3 class="multi_lines_text">{{mp.phone}}</h3>
                </ion-label>
              </ion-item>
            <!-- </ion-card> -->
          </ion-list>
        </ion-card>
      </div>

      <div *ngIf="show=='mprso'">
        <ion-card *ngFor="let mp of mprso">
          <ion-list>
            <!-- <ion-card *ngFor='let m of mp5'> -->
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <ion-icon name="storefront-outline" style="width: 30px;height: 30px;padding-top: 5px;"></ion-icon>
                </ion-avatar>
                <ion-label>
                  <h3 class="ion-text-wrap text1">{{mp.office}}</h3>
                </ion-label>
              </ion-item>
              <ion-item lines="none" class="item1">
                <ion-avatar slot="start">
                  <ion-icon name="home-outline" style="width: 30px;height: 30px;padding-top: 5px;"></ion-icon>
                </ion-avatar>
                <ion-label>
                  <h3 class="ion-text-wrap text">{{mp.address}}</h3>
                </ion-label>
              </ion-item>
              <ion-item lines="none" class="item">
                <ion-avatar slot="start">
                  <ion-icon name="mail-open-outline" style="width: 30px;height: 30px;padding-top: 5px;"></ion-icon>
                </ion-avatar>
                <ion-label>
                  <h3>{{mp.mail}}</h3>
                </ion-label>
              </ion-item>
              <ion-item lines="none" class="item">
                <ion-avatar slot="start">
                  <ion-icon name="logo-whatsapp" style="width: 30px;height: 30px;padding-top: 5px;"></ion-icon>
                </ion-avatar>
                <ion-label>
                  <h3>{{mp.phone}}</h3>
                </ion-label>
              </ion-item>
            <!-- </ion-card> -->
          </ion-list>
        </ion-card>
      </div>
    </ion-content>