<ion-header>
  <ion-toolbar style=" --background: #c73007;color: whitesmoke">
    <ion-buttons slot="start" (click)="showMenu()">
     <ion-icon style="--color:whitesmoke;font-size: 1.5em;" name="ellipsis-vertical-outline"></ion-icon>
   </ion-buttons>
   <ion-buttons slot="start">
     <ion-back-button style="--color:whitesmoke" defaultHref="/personalInfo"></ion-back-button>
   </ion-buttons>
   <ion-title>
    Dak Status 
   </ion-title>
   <ion-buttons slot="end">
     <ion-icon name="log-out-outline" (click)="logout()" style="--color:rgb(143, 106, 106);font-size: 1.7em;"></ion-icon>
     <p (click)="logout()">Sign Out</p>
    </ion-buttons>
 </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card *ngIf="length==0">
      No Dak Status Received in Recent Past
    </ion-card>
    <div class="login-section " *ngIf="length!=0">
      <div class="login-form">
        <ion-card  *ngFor="let dak of dakStatus">
         
              <ion-item lines="none"> 
                <ion-label>
                  <strong>
                  <h6 class="ion-text-wrap text1">Dak ID</h6>
                </strong>
                </ion-label>
                <ion-label>
                  <h6 class="ion-text-wrap">{{dak.DAK_ID}}</h6>
                </ion-label>
              </ion-item>
              
                <ion-item lines="none"> 
                  <ion-label>
                    <strong>
                    <h6 class="ion-text-wrap text1">Letter No</h6>
                  </strong>
                  </ion-label>
                  <ion-label>
                    <h6 class="ion-text-wrap">{{dak.Letter_no}}</h6>
                  </ion-label>
                </ion-item>
                
                  <ion-item lines="none"> 
                    <ion-label>
                      <strong>
                      <h6 class="ion-text-wrap text1">Letter Date</h6>
                    </strong>
                    </ion-label>
                    <ion-label>
                      <h6 class="ion-text-wrap">{{dak.Letter_dt}}</h6>
                    </ion-label>
                  </ion-item>
                  
                    <ion-item lines="none"> 
                      <ion-label>
                        <strong>
                        <h6 class="ion-text-wrap text1">Subject</h6>
                      </strong>
                      </ion-label>
                      <ion-label>
                        <h6 class="ion-text-wrap">{{dak.Subject}}</h6>
                      </ion-label>
                    </ion-item>
                   
                      <ion-item lines="none"> 
                        <ion-label>
                          <strong>
                          <h6 class="ion-text-wrap text1">Letter Recd Date</h6>
                        </strong>
                        </ion-label>
                        <ion-label>
                          <h6 class="ion-text-wrap">{{dak.recd_on}}</h6>
                        </ion-label>
                      </ion-item>
                     
                        <ion-item lines="none"> 
                          <ion-label>
                            <strong>
                            <h6 class="ion-text-wrap text1">Action on Letter</h6>
                          </strong>
                          </ion-label>
                          <ion-label>
                            <h6 class="ion-text-wrap">{{dak.Action_on_letter}}</h6>
                          </ion-label>
                        </ion-item>
                        
                          <ion-item lines="none"> 
                            <ion-label>
                              <strong>
                              <h6 class="ion-text-wrap text1">Date of Action</h6>
                            </strong>
                            </ion-label>
                            <ion-label>
                              <h6 class="ion-text-wrap">{{dak.Action_dt}}</h6>
                            </ion-label>
                          </ion-item>
                        
              </ion-card>
              </div>
              </div>
  </ion-content>