<ion-header>
  <ion-toolbar style="--background: #c73007">
    <ion-buttons slot="start" >
      <ion-back-button style="color:aliceblue" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:aliceblue">
      More...
    </ion-title>
    </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-card>
        <ion-toolbar style="    --background: #c73007;color: whitesmoke">
          <ion-segment value="status" (ionChange)="show($event)">
            <ion-segment-button value="status">
              <ion-label style="color:whitesmoke">ePPO Status</ion-label>
            </ion-segment-button>
            <ion-segment-button value="exgratia">
              <ion-label style="color:whitesmoke">Exgratia SSCOs/ECOs</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar>
      </ion-card>
      <ion-card>
     
      <div *ngIf="toShow" class="login-section ion-padding">
    
        <div class="login-form ion-padding ">
          <div class="form-input">
            
            <ion-item lines="none">
              <ion-icon name="lock-closed-outline"></ion-icon>
              <!-- <ion-label position="floating">Email</ion-label> -->
              <ion-input type="mail" placeholder="PERSONAL NO OF OFFICER"  [(ngModel)]="username" maxlength="8" class="textbox"></ion-input>
            </ion-item>
          </div>
          <div class="form-input">
            
            <ion-item lines="none">
              <ion-icon name="lock-closed-outline"></ion-icon>
                <ion-input type="text" placeholder="ENTER CAPTCHA" [(ngModel)]="randomNumberEntered"></ion-input>
        </ion-item>
        </div>
        <div class="form-input">
        <ion-row>
          <ion-col size="9">
       <ion-item lines="none" style="width:40%;color:white;font-size: 1.2em;font-weight: 700;--background: lightsalmon;">
        
         <ion-text ><ion-col  class="captch">{{randomNumber}}</ion-col></ion-text>
         
       </ion-item>
     </ion-col>
     <ion-col     style="padding-top: 30px;color: aliceblue;">
       <ion-buttons (click)="generateRandomNumber(1111,9999)" ><ion-icon name="refresh-circle-outline" style="font-size: 3.5em"></ion-icon></ion-buttons>
     </ion-col>
     </ion-row> 
      </div>
      <!-- <div class="form-input">
      <ion-item lines="none" style="width:40%;color:white;font-size: 1.4em;font-weight: 700;--background: lightsalmon;text-align: center;">
       
        <ion-text style="padding-left: 10px;"><ion-col size="4" class="captch">{{randomNumber}}</ion-col></ion-text>
      </ion-item>
          </div> -->
          <div class="action-button ion-padding">
            <ion-button expand="round" size="large" class="login-button" style="color: black;" (click)="submit()">Check Status</ion-button>
            <!-- <p class="forgetText" routerLink="/creatempin" style="color: aliceblue;margin-top: 3%;">Login</p>
           <h5 class="logText" routerLink="/home" style="color: aliceblue;">Sign Up</h5> -->
          </div>
          </div>
          </div>


          <div *ngIf="!toShow" class="login-section ion-padding">
    
            <div class="login-form ion-padding ">
              <div class="form-input">
                
                <ion-item lines="none">
                  <ion-icon name="lock-closed-outline"></ion-icon>
                  <!-- <ion-label position="floating">Email</ion-label> -->
                  <ion-input type="mail" placeholder="PERSONAL NO" [(ngModel)]="username1" maxlength="8" class="textbox" ></ion-input>
                </ion-item>
              </div>
              <div class="action-button ion-padding">
                <ion-button expand="round" size="large" class="login-button" style="color: black;" (click)="exGratiaEppoStatus()">Check Status</ion-button>
              
              </div>
              </div>
              </div>
       
        </ion-card>
    </ion-content>