<ion-header>
  <ion-toolbar style=" --background: #c73007;color: whitesmoke">
    <ion-buttons slot="start" (click)="showMenu()">
     <ion-icon style="--color:whitesmoke;font-size: 1.5em;" name="ellipsis-vertical-outline"></ion-icon>
   </ion-buttons>
   <ion-buttons slot="start">
     <ion-back-button style="--color:whitesmoke" defaultHref="/personalInfo"></ion-back-button>
   </ion-buttons>
   <ion-title>
    More
   </ion-title>
   <ion-buttons slot="end">
     <ion-icon name="log-out-outline" (click)="logout()" style="--color:rgb(143, 106, 106);font-size: 1.7em;"></ion-icon>
     <p (click)="logout()">Sign Out</p>
    </ion-buttons>
 </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
  <ion-item>
    <!-- <ion-row> -->
      <!-- <ion-col size="5"></ion-col> -->
    
        <ion-button (click)="gotoLPC()" >Open LPC</ion-button>
     
    <!-- </ion-row>    -->
  </ion-item>
  <ion-item>
    <!-- <ion-row> -->
      <!-- <ion-col size="5"></ion-col> -->
     
        <ion-button (click)="invoiceOpen()">Print Details</ion-button>
     
    <!-- </ion-row>    -->
  </ion-item>
  <ion-item>
    <!-- <ion-row> -->
       <input type="file" (change)="selectFile($event)" placeholder="Upload file">
      <!-- </ion-row> -->
    <!-- <ion-row> -->
     
     
        <ion-button (click)="uploadFile()">Upload LPC</ion-button>
      
    <!-- </ion-row>    -->
  </ion-item>
  <ion-item> 
    <!-- <ion-row> -->
       <input type="file" (change)="selectFile($event)" placeholder="Upload file">
    
     
        <ion-button (click)="uploadFile()">Upload Misc Docs</ion-button>

    <!-- </ion-row>    -->
  </ion-item>
</ion-card>
</ion-content>