.faq{
    ul{
      padding: 0;
      li{
        position: relative;
        overflow: hidden;
        padding: 0;
        margin: 0;
        background: #ffff;
        border-radius: 12px;
        box-shadow: 0 3px 10px -2px rgba(0,0,0,0.1);
        +{
          li{
            margin-top: 15px;
          }
        }
        i{
          position: absolute;
          transform: translate(-6px,0);
          margin-top: 28px;
          right: 15px;
          &:before{
            content: "";
            position: absolute;
            transition: all 0.3s;
            background-color: #cc071c;
            width: 3px;
            height: 9px;
            transform: translate(-2px,0) rotate(45deg);
          }
          &:after{
            transform: translate(2px,0) rotate(-45deg);
            transition: all 0.3s;
            content: "";
            position: absolute;
            background-color: #cc071c;
            width: 3px;
            height: 9px;
          }
        }
        input[type="checkbox"]{
          position: absolute;
          cursor: pointer;
          z-index: 1;
          width: 100%;
          height: 100%;
          z-index: 1;
          opacity: 0;
          touch-action: manipulation;
  
          &:checked{
            ~{
              h2{
                  
                color: #000;
                width: 95%;
              }
              p{
                max-height: 0;
                transition: 0.3s;
                opacity: 0;
              }
              i{
                &:before{
                  transform: translate(2px,0) rotate(45deg);
                }
                &:after{
                  transform: translate(-2px,0)rotate(-45deg);
                }
              }
            }
          }
        }
      }
      .no-select{
        user-select: none;
      }
      h2{
        color: #f14912;
        font-size: 20px;
        line-height: 34px;
        text-align: left;
        padding: 15px 15px 0;
        text-transform: none;
        font-weight: 200;
        display: block;
        margin: 0;
        cursor: pointer;
        transition: 0.2s;
      }
      p{
        color: #3d3ff1;
        text-align: left;
        font-size: 18px;
        line-height: 1.45;
        position: relative;
        overflow: hidden;
        max-height: 300px;
        will-change: max-height;
        contain: layout;
        display: inline-block;
        opacity: 1;
        transform: translate(0,0);
        margin-top: 5px;
        margin-bottom: 15px;
        padding: 0 50px 0 15px;
        transition: 0.3s opacity, 0.6s max-height;
      }
    }
  }
  
  ion-title{
  color:aliceblue;
  }
  ion-content{
    // --background:linear-gradient(#ff0000,#ff1a1a,#ff3333,#ff5050 ,#ff6666,#ff8080);
     --background: url('../../../assets/imgs/otherbg.jpg') center center / cover;
   // --background-size: 300px 100px
   }