<ion-header>
  <ion-toolbar style="    --background: #c73007;color: whitesmoke">
    <ion-buttons slot="start" (click)="dismiss()">
      <ion-back-button style="--color:whitesmoke"></ion-back-button>
    </ion-buttons>
    <ion-title>
       LPC Form
    </ion-title>
 
  </ion-toolbar>
 </ion-header>
 <ion-content>
  <div id="PrintInvoice" class="invoice-box">
    <div>
      <ion-grid>
        <ion-row>
          <ion-col size='3'><p class="pp">Pensioner</p></ion-col>
          <ion-col size='3' style="padding-top: 15px;font-size: 10px;">Officer<ion-checkbox checked="true" style="margin-left: 4px;"></ion-checkbox></ion-col>
          <ion-col size='3'><p class="pp">Spouse</p></ion-col>
          <ion-col size='3'><p class="pp">Family Pensioner</p></ion-col>

        </ion-row>
      </ion-grid>
    </div>
    <div>
      <ion-grid>
        <ion-row class="rowtext">
          <ion-col size='3' class="text1">Telephone</ion-col>
          <ion-col size='3' class="line"></ion-col>
          <ion-col size='3' class="text1">Name</ion-col>
          <ion-col size='3' class="line"></ion-col>
        </ion-row>
        <ion-row class="rowtext">
          <ion-col size='3' class="text1">Mobile</ion-col>
          <ion-col size='3' class="line"></ion-col>
          <ion-col size='3' class="text1">Address</ion-col>
          <ion-col size='3' class="line"></ion-col>
        </ion-row>
        <ion-row class="rowtext">
          <ion-col size='3' class="text1">City</ion-col>
          <ion-col size='3' class="line"></ion-col>
          <ion-col size='3' class="text1">Date</ion-col>
          <ion-col size='3' class="line"></ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div>
      <p class="to">To,<br>
        Addl Dte Gen of Manpower Planning/MP-5(b)
        AG's Branch, IHQ of MoD(Army)
        Wing No-3 Ground Floor,West Block-III
        RK Puram, New Delhi-66</p>
    </div>
    <div>
      <h3 style="text-align: center;font-weight: bold;text-decoration: underline;">LPC-CUM-DATA-SHEET</h3>
    </div>
    <div>
      <p class="dear">Dear sir,<br>
        1.&nbsp;&nbsp;In order to record date of birth in PPO for addtion pension in terms of Para 12 of GoI ,MoD Revised Pension letter
        17(45)/2008(1)D/Pen/</p>
    </div>
 <ion-grid >
  <ion-row>
    <ion-col class="ion-col" size="1">a.</ion-col>
    <ion-col class="ion-col" size="11">Details of Officer</ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-col" size="1"></ion-col>
    <ion-col class="ion-col" size="1">i</ion-col>
    <ion-col class="ion-col" size="2">Rank</ion-col>
    <ion-col class="ion-col" size="3">{{editData.rank_desc}}</ion-col>
    <ion-col class="ion-col" size="2">Name</ion-col>
    <ion-col class="ion-col" size="3">{{editData.name}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-col" size="1"></ion-col>
    <ion-col class="ion-col" size="1">ii</ion-col>
    <ion-col class="ion-col" size="2">Service No</ion-col>
    <ion-col class="ion-col" size="3">{{editData.personal_no}}</ion-col>
    <ion-col class="ion-col" size="2">Date of Retirement</ion-col>
    <ion-col class="ion-col" size="3">{{editData.Retire_dt}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-col" size="1"></ion-col>
    <ion-col class="ion-col" size="1">iii</ion-col>
    <ion-col class="ion-col" size="2">Original PPO No</ion-col>
    <ion-col class="ion-col" size="3">{{editData.PPO_No}}</ion-col>
    <ion-col class="ion-col" size="2">Latest Corregendium PPO</ion-col>
    <ion-col class="ion-col" size="3">{{editData.corr_ppo}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-col" size="1"></ion-col>
    <ion-col class="ion-col" size="1">iv</ion-col>
    <ion-col class="ion-col" size="2">Date of Birth</ion-col>
    <ion-col class="ion-col" size="3">{{editData.Self_DOB}}</ion-col>
    <ion-col class="ion-col" size="2">Aadhar Card No</ion-col>
    <ion-col class="ion-col" size="3">{{editData.Self_Aadhar}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-col" size="1"></ion-col>
    <ion-col class="ion-col" size="1">v.</ion-col>
    <ion-col class="ion-col" size="2">PAN Card No</ion-col>
    <ion-col class="ion-col" size="3">{{editData.self_PAN}}</ion-col>
    <ion-col class="ion-col" size="2">Email Id</ion-col>
    <ion-col class="ion-col" size="3">{{editData.Self_Email}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-col" size="1"></ion-col>
    <ion-col class="ion-col" size="1">vi.</ion-col>
    <ion-col class="ion-col" size="2">Mob No</ion-col>
    <ion-col class="ion-col" size="3">{{editData.Self_Mobile}}</ion-col>
    <ion-col class="ion-col" size="2">Commision Date</ion-col>
    <ion-col class="ion-col" size="3">{{editData.comn_dt}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-col" size="1"></ion-col>
    <ion-col class="ion-col" size="1">vii.</ion-col>
    <ion-col class="ion-col" size="2">Net Qualifying Service/ion-col></ion-col>
    <ion-col class="ion-col" size="3">{{editData.NQSYR}}</ion-col>
    <ion-col class="ion-col" size="2">-{{editData.NQSMTH}}</ion-col>
    <ion-col class="ion-col" size="3">- {{editData.NQSDAYS}}</ion-col>
  </ion-row>
  <div class="anotherdiv">
    <ion-row>
      <ion-col class="ion-col" size="1">b.</ion-col>
      <ion-col class="ion-col" size="11">Spouse</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-col" size="1"></ion-col>
      <ion-col class="ion-col" size="1">i</ion-col>
      <ion-col class="ion-col" size="2">Name</ion-col>
      <ion-col class="ion-col" size="3">{{editData.NOK_Name}}</ion-col>
      <ion-col class="ion-col" size="2">Date of Birth</ion-col>
      <ion-col class="ion-col" size="3">{{editData.NOK_DOB}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-col" size="1"></ion-col>
      <ion-col class="ion-col" size="1">ii</ion-col>
      <ion-col class="ion-col" size="2">Aadhar Card No</ion-col>
      <ion-col class="ion-col" size="3">{{editData.NOK_Aadhar}}</ion-col>
      <ion-col class="ion-col" size="2">PAN Card No</ion-col>
      <ion-col class="ion-col" size="3">{{editData.NOK_PAN}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-col" size="1"></ion-col>
      <ion-col class="ion-col" size="1">iii</ion-col>
      <ion-col class="ion-col" size="2">Email ID</ion-col>
      <ion-col class="ion-col" size="8">{{editData.NOK_Email}}</ion-col>
      
    </ion-row>
  </div>

  <div class="anotherdiv">
    <ion-row>
      <ion-col class="ion-col" size="1">c.</ion-col>
      <ion-col class="ion-col" size="11">Family Pensioner(Parents/Unmarried/Widowed/Divorced Daughter/Handicapped Child(Only if
        applicable)</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-col" size="1"></ion-col>
      <ion-col class="ion-col" size="1">i</ion-col>
      <ion-col class="ion-col" size="2">Name</ion-col>
      <ion-col class="ion-col" size="3">{{editData.Depn_Name}}</ion-col>
      <ion-col class="ion-col" size="2">Date of Birth</ion-col>
      <ion-col class="ion-col" size="3">{{editData.Depn_DOB}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-col" size="1"></ion-col>
      <ion-col class="ion-col" size="1">ii</ion-col>
      <ion-col class="ion-col" size="2">Aadhar Card No</ion-col>
      <ion-col class="ion-col" size="3">{{editData.Depn_Aadhar}}</ion-col>
      <ion-col class="ion-col" size="2">Email ID</ion-col>
      <ion-col class="ion-col" size="3">{{editData.Depn_Email}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-col" size="1"></ion-col>
      <ion-col class="ion-col" size="1">iii</ion-col>
      <ion-col class="ion-col" size="2">Mobile No</ion-col>
      <ion-col class="ion-col" size="8">{{editData.Depn_Mobile}}</ion-col>
    </ion-row>
  </div>

  <div class="anotherdiv">
    <ion-row>
      <ion-col class="ion-col" size="1">d.</ion-col>
      <ion-col class="ion-col" size="11">Bank Details (To be ascertained from Bankers)</ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col class="ion-col" size="1"></ion-col>
      <ion-col class="ion-col" size="1">i</ion-col>
      <ion-col class="ion-col" size="2">BSR code of Link Branch</ion-col>
      <ion-col class="ion-col" size="3">{{editData.BSR_Code_Link_br}}</ion-col>
      <ion-col class="ion-col" size="2">Link Br & Address</ion-col>
      <ion-col class="ion-col" size="3">{{editData.Link_Br_Add}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-col" size="1"></ion-col>
      <ion-col class="ion-col" size="1">ii</ion-col>
      <ion-col class="ion-col" size="2">Pension Bank A/C</ion-col>
      <ion-col class="ion-col" size="3">{{editData.cdaacctno}}</ion-col>
      <ion-col class="ion-col" size="2">BSR Code of Pension Paying Bank</ion-col>
      <ion-col class="ion-col" size="3">{{editData.BSRCode_paying_Bank}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-col" size="1"></ion-col>
      <ion-col class="ion-col" size="1">iii</ion-col>
      <ion-col class="ion-col" size="2">Address of Br Paying Pension</ion-col>
      <ion-col class="ion-col" size="3">{{editData.pension_paying_br_add}}</ion-col>
      <ion-col class="ion-col" size="2">Pension Paying Bank City</ion-col>
      <ion-col class="ion-col" size="3">{{editData.City_name_paying_bank}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-col" size="1"></ion-col>
      <ion-col class="ion-col" size="1">iv</ion-col>
      <ion-col class="ion-col" size="2">PIN Code</ion-col>
      <ion-col class="ion-col" size="3">{{editData.pin_code}}</ion-col>
      <ion-col class="ion-col" size="2">IFSC Code</ion-col>
      <ion-col class="ion-col" size="3">{{editData.IFSC_Code}}</ion-col>
    </ion-row>
  </div>
 </ion-grid>
   </div>
   <div>
    <p class="dear">
      2.&nbsp;&nbsp;Necessary documents duly attested by Gazetted officers are attached (copy of Aadhar Card and PAN Card of self
      and spouse) as proof of birth of spouse/family pensioner alonghwith copies of Original and Corrigendum PPOs).</p>
  </div>
  <div><p class="since">Your's sincerly</p></div>
  <div>
    <p class="since1">Sig of Offr/Family Pensioner,</p>
  </div>
   <ion-button (click)="downloadInvoice()">Download</ion-button>
 </ion-content>