ion-content {
    --background:linear-gradient(0deg,rgba(0,0,0,0.7),rgba(0,0,0,0.1)),
    url("../../../assets/imgs/otherbg.jpg") no-repeat center center / cover;
}
.avt{
    margin: auto;
    width: 80px;
    height: 80px;
}
.logodiv{
    margin-top: 10%;
}
// ion-content{
//     --background: #ddd;
// }
// ion-list{
//     background: #ddd;
// }
ion-label{
    --font-size: 25px;
}
span{
    font-size: 17px;
    margin-top: 3%;
    color: blue;
    margin-bottom: 4%;
    font-weight: 700;
}
ion-card{
    border-radius: 10px;
}
.itemav{
    text-align: center;
    margin: auto;
    margin-right: 7px;
}
.itemicon{
    margin-top: 5%;
    font-size: 34px;
}
.details{
    text-align: center;
    border-radius: unset;
    width: 100%;
    margin: auto;
    color: black;
    // height: 40px;
    --background: #f9c67a;
}
ion-row{
    width: 100%;
}
.divButton{
    text-align: center;
    bottom: 30px;
    position: relative;
    margin-top: 30px;
}