<ion-header>
  <ion-toolbar style=" --background: #c73007;color: whitesmoke">
    <ion-buttons slot="start" (click)="showMenu()">
     <ion-icon style="--color:whitesmoke;font-size: 1.5em;" name="ellipsis-vertical-outline"></ion-icon>
   </ion-buttons>
   <ion-buttons slot="start">
     <ion-back-button style="--color:whitesmoke" defaultHref="/personalInfo"></ion-back-button>
   </ion-buttons>
   <ion-title>
    Open LPC
   </ion-title>
   <ion-buttons slot="end">
     <ion-icon name="log-out-outline" (click)="logout()" style="--color:rgb(143, 106, 106);font-size: 1.7em;"></ion-icon>
     <p (click)="logout()">Sign Out</p>
    </ion-buttons>
 </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="details">
    <ion-card-content>Basic Details</ion-card-content>
  </ion-card>
  <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
    <!-- <ion-list *ngFor="let d of body"> -->
      <ion-item>
        <ion-row>
          <ion-col size="5"><p>Pers No</p></ion-col>
          <ion-col size="7"><ion-input disabled="true" required type="text" name="persno" ngModel>{{body.personal_no}}</ion-input></ion-col>
        </ion-row>   
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col size="5"><p>Rank</p></ion-col>
          <ion-col size="7"><ion-input disabled="true" required type="text" name="rank_cd" ngModel>{{body.rank_desc}}</ion-input></ion-col>
        </ion-row>   
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col size="5"><p>Name</p></ion-col>
          <ion-col size="7"><ion-input disabled="true" required type="text" name="dep_name" ngModel>{{body.name}}</ion-input></ion-col>
        </ion-row>   
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col size="5"><p>Date of Retirement/Death</p></ion-col>
          <ion-col size="7"><ion-input disabled="true" required type="text" name="firstname" ngModel>{{body.Retire_dt}}</ion-input></ion-col>
        </ion-row>   
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col size="5"><p>PPO Number</p></ion-col>
          <ion-col size="7"><ion-input disabled="true" required type="text" name="ppo" ngModel>{{body.PPO_No}}</ion-input></ion-col>
        </ion-row>   
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col size="5"><p>Latest Corrigendum PPO Number</p></ion-col>
          <ion-col size="7"><ion-input  required type="text" name="corrigendum" ngModel>{{body.corr_ppo}}</ion-input></ion-col>
        </ion-row>   
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col size="5"><p>Date of Birth</p></ion-col>
          <ion-col size="7"><ion-input disabled="true" required type="text" name="dob" ngModel>{{body.Self_DOB}}</ion-input></ion-col>
        </ion-row>   
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col size="5"><p>Aadhar (Officer)</p></ion-col>
          <ion-col size="7"><ion-input disabled="true" required type="text" name="aadhar" ngModel>{{body.Self_Aadhar}}</ion-input></ion-col>
        </ion-row>   
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col size="5"><p>PAN (Officer)</p></ion-col>
          <ion-col size="7"><ion-input disabled="true" required type="text" name="pan_no" ngModel>{{body.self_PAN}}</ion-input></ion-col>
        </ion-row>   
      </ion-item>
      <ion-item>
      <ion-row>
        <ion-col size="5"><p>Email (User)</p></ion-col>
        <ion-col size="7"><ion-input disabled="true" required type="text" name="email" ngModel>{{body.Self_Email}}</ion-input></ion-col>
      </ion-row>   
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="5"><p>Mobile (User)</p></ion-col>
        <ion-col size="7"><ion-input disabled="true" required type="tel" name="mobile" ngModel>{{body.Self_Mobile}}</ion-input></ion-col>
      </ion-row> 
    </ion-item> 
    <ion-item>
      <ion-row>
        <ion-col size="5"><p>Net Qualifying Service</p></ion-col>
        <ion-col size="7"><ion-input class="editText"  required type="tel" name="firstname" ngModel>{{body.NQSYR}}-{{body.NQSMTH}}-{{body.NQSDAYS}}</ion-input></ion-col>
      </ion-row>  
    </ion-item>
   
    <ion-card class="details">
      <ion-card-content>Details Spouse</ion-card-content>
    </ion-card>
    <ion-item>
      <ion-row>
        <ion-col size="5"><p>Spouse Name</p></ion-col>
        <ion-col size="7"><ion-input class="editText" required type="text" name="spousedob" [ngModelOptions]="{standalone: true}" [(ngModel)]="body.NOK_Name"></ion-input></ion-col>
      </ion-row>  
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="5"><p>Spouse DOB</p></ion-col>
        <ion-col size="7"><ion-input (click)="showDatepicker('1')" class="editText" required type="text" name="spousedob" [ngModelOptions]="{standalone: true}" [(ngModel)]="body.NOK_DOB"></ion-input></ion-col>
      </ion-row>  
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="5"><p>Spouse aadhar</p></ion-col>
        <ion-col size="7"><ion-input class="editText" required type="tel" maxlength="12" name="spouseaadhar" [ngModelOptions]="{standalone: true}" [(ngModel)]="body.NOK_Aadhar"></ion-input></ion-col>
      </ion-row>  
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="5"><p>Spouse PAN</p></ion-col>
        <ion-col size="7"><ion-input class="editText" required type="text" maxlength="10" name="spouseaadhar" [ngModelOptions]="{standalone: true}" [(ngModel)]="body.NOK_PAN"></ion-input></ion-col>
      </ion-row>  
    </ion-item>
    
    <ion-item>
      <ion-row>
        <ion-col size="5"><p>Spouse Email</p></ion-col>
        <ion-col size="7"><ion-input class="editText" required type="text" name="spouseemail" [ngModelOptions]="{standalone: true}" [(ngModel)]="body.NOK_Email"></ion-input></ion-col>
      </ion-row>  
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="5"><p>Spouse Mobile</p></ion-col>
        <ion-col size="7"><ion-input class="editText" required type="tel" maxlength="10" name="spousemobile" [ngModelOptions]="{standalone: true}" [(ngModel)]="body.NOK_Mobile"></ion-input></ion-col>
      </ion-row>  
    </ion-item>
    <ion-card class="details">
      <ion-card-content>Family Pensioner(Parents/Unmarried/Widowed/Divorced Daughter/Handicapped Child) (Only if applicable)</ion-card-content>
    </ion-card>
    <ion-item>
      <ion-row>
        <ion-col size="5"><p>Name</p></ion-col>
        <ion-col size="7"><ion-input class="editText" required type="text" name="spouserelation" [ngModelOptions]="{standalone: true}" [(ngModel)]="body.Depn_Name"></ion-input></ion-col>
      </ion-row>  
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="5"><p>Date of Birth</p></ion-col>
        <ion-col size="7"><ion-input class="editText" (click)="showDatepicker('2')" required type="text" name="spouserelation" [ngModelOptions]="{standalone: true}" [(ngModel)]="body.Depn_DOB"></ion-input></ion-col>
      </ion-row>  
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="5"><p>Aadhar Card No</p></ion-col>
        <ion-col size="7"><ion-input class="editText" required type="tel" maxlength="12" name="spouserelation" [ngModelOptions]="{standalone: true}" [(ngModel)]="body.Depn_Aadhar"></ion-input></ion-col>
      </ion-row>  
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="5"><p>Mobile No</p></ion-col>
        <ion-col size="7"><ion-input class="editText" required type="tel" maxlength="10" name="spouserelation" [ngModelOptions]="{standalone: true}" [(ngModel)]="body.Depn_Mobile"></ion-input></ion-col>
      </ion-row>  
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="5"><p>Email Id</p></ion-col>
        <ion-col size="7"><ion-input class="editText" required type="text" name="spouserelation" [ngModelOptions]="{standalone: true}" [(ngModel)]="body.Depn_Email"></ion-input></ion-col>
      </ion-row>  
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="5"><p>Relation</p></ion-col>
        <ion-col size="7"><ion-select value="{{relation}}"  (ionChange)="selectRelations($event)" >
          <ion-select-option *ngFor="let r of relationsType" value="{{r.relation_cd}}">{{r.relation_desc}}</ion-select-option>
        </ion-select></ion-col>
      </ion-row>  
    </ion-item>
    <ion-item>
      <ion-row>
        
        <ion-col size="5"><p>Family Pensioner Type</p></ion-col>
        <ion-col size="7"><ion-select value="{{pensionerType}}"  (ionChange)="selectFamilyPensionerType($event)">
          <ion-select-option *ngFor="let type of familyPensionerType" value="{{type.fp_type_cd}}">{{type.fp_type}}</ion-select-option>
        </ion-select></ion-col>
      </ion-row>  
    </ion-item>

    <ion-card class="details">
      <ion-card-content>Bank Details</ion-card-content>
    </ion-card>
    <ion-item>
      <ion-row>
        <ion-col size="5"><p>BSR Code of Link Branch</p></ion-col>
        <ion-col size="7"><ion-input class="editText" required type="text" name="bsrcode" [ngModelOptions]="{standalone: true}" [(ngModel)]="body.BSR_Code_Link_br"></ion-input></ion-col>
      </ion-row>  
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="5"><p>Link Branch with address</p></ion-col>
        <ion-col size="7"><ion-input class="editText" required type="text" name="bankaddress" [ngModelOptions]="{standalone: true}" [(ngModel)]="body.Link_Br_Add"></ion-input></ion-col>
      </ion-row>  
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="5"><p>Pensioner Bank A/C No</p></ion-col>
        <ion-col size="7"><ion-input class="editText" required type="tel" maxlength="15" name="accountno" [ngModelOptions]="{standalone: true}" [(ngModel)]="body.Pensioner_Acct_No"></ion-input></ion-col>
      </ion-row>  
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="5"><p>IFSC Code</p></ion-col>
        <ion-col size="7"><ion-input class="editText" required type="text" name="ifsccode" [ngModelOptions]="{standalone: true}" [(ngModel)]="body.IFSC_Code"></ion-input></ion-col>
      </ion-row>  
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="5"><p>BSR code of pension paying bank</p></ion-col>
        <ion-col size="7"><ion-input class="editText" required type="text" name="bsrcodepaying" [ngModelOptions]="{standalone: true}" [(ngModel)]="body.BSRCode_paying_Bank"></ion-input></ion-col>
      </ion-row>  
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="5"><p>Address of Branch paying Pension</p></ion-col>
        <ion-col size="7"><ion-input class="editText" required type="text" name="payingaddress" [ngModelOptions]="{standalone: true}" [(ngModel)]="body.pension_paying_br_add"></ion-input></ion-col>
      </ion-row>  
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="5"><p>Pension paying Bank City</p></ion-col>
        <ion-col size="7"><ion-input class="editText" required type="text" name="payingcity" [ngModelOptions]="{standalone: true}" [(ngModel)]="body.City_name_paying_bank"></ion-input></ion-col>
      </ion-row>  
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="5"><p>Pin Code</p></ion-col>
        <ion-col size="7"><ion-input class="editText" required type="tel" maxlength="6" name="pincode" [ngModelOptions]="{standalone: true}" [(ngModel)]="body.pin_code"></ion-input></ion-col>
      </ion-row>  
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="5"><p>CDA Account Number</p></ion-col>
        <ion-col size="7"><ion-input class="editText" required type="text" name="cda" [ngModelOptions]="{standalone: true}" [(ngModel)]="body.CDAACCTNO" ></ion-input></ion-col>
      </ion-row>  
    </ion-item>
  <!-- </ion-list> -->
  <div class="divButton">
    <ion-button expand="round" style=" --background: #f9c67a;;" (click)="submitBasic()">Submit</ion-button>
    <!-- <ion-button expand="round"  style=" --background: #f9c67a;;"(click)="basicHome()">home</ion-button> -->
  </div>
  </form>
  </ion-content>