ion-content{
    --background:linear-gradient(0deg,rgba(0,0,0,0.7),rgba(0,0,0,0.1)),
    url("../../../assets/imgs/otherbg.jpg") no-repeat center center / cover;
    
}
ion-content > div{
    padding-top: 30%;
}
.logText{
    padding-right: 5%;
    text-align: right;
    text-decoration-line: underline;
    font-family: -webkit-body;
    font-weight: 600;
    color: aliceblue;
}
.login-form{
    // margin-top: -5%;
    .form-input{
        position: relative;
        margin-bottom: 10px;
        margin-top: 20px;
        ion-item::part(native) {
            padding-left: 0;
        }
        ion-icon{
            position: absolute;
            // top: 37px;
            z-index: 2;
            font-size: 1.8rem;
            left: 5px;
            padding-left: 5px;
        }
        ion-label{
            position: absolute;
            margin-left: 35px;
            font-weight: bold;
            font-size: 0.8rem;
            top: 3px;
        }
     ion-input{
         font-size: 1.2rem;
         --padding-start: 17%;
        //  --padding-top: 36px;
         color: #7b7b7b;
     }
    }
}
.login-button{
    --color: white;
    opacity: 9999;
    --background: #f9c67a;;
    width: 90%;
    height: 50px;
    margin: auto 5%;
}
ng-otp-input{
    text-align: center;
}
ion-card{
    width: auto;
    margin: 0;
    border-radius: 10px;
}
.heading{
    .logo{
        width: auto;
     height: 115px;
     margin-top: -10%;
    }
}
ion-avatar{
    margin: auto;
    width: 120px;
    height: 86px;
    border-radius: 50%;
}
.txt{
    margin-left: 5%;
    color:aliceblue;
}
ion-toolbar{
    --background: #f8c06b;;
    color: white;
}