ion-content {
    --background:linear-gradient(0deg,rgba(0,0,0,0.7),rgba(0,0,0,0.1)),
    url("../../../assets/imgs/otherbg.jpg") no-repeat center center / cover;
}
ion-card{
    margin-top: 3%;
    color: blue;
    text-align: center;
    background: aliceblue;
}
