ion-content{
    // --background:linear-gradient(#ff0000,#ff1a1a,#ff3333,#ff5050 ,#ff6666,#ff8080);
     --background: url('../../../assets/imgs/otherbg.jpg') center center / cover;
   // --background-size: 300px 100px
   }
   a:-webkit-any-link{
       text-decoration: none;
   }
   .selectStyle{
       border: 2px solid gray;
   }