<ion-header>
  <ion-toolbar style=" --background: #c73007;color: whitesmoke">
    <ion-buttons slot="start" (click)="showMenu()">
     <ion-icon style="--color:whitesmoke;font-size: 1.5em;" name="ellipsis-vertical-outline"></ion-icon>
   </ion-buttons>
   <ion-buttons slot="start">
     <ion-back-button style="--color:whitesmoke" defaultHref="/personalInfo"></ion-back-button>
   </ion-buttons>
   <ion-title>
    Grievances
   </ion-title>
   <ion-buttons slot="end">
     <ion-icon name="log-out-outline" (click)="logout()" style="--color:rgb(143, 106, 106);font-size: 1.7em;"></ion-icon>
     <p (click)="logout()">Sign Out</p>
    </ion-buttons>
 </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card style="--background: #c73007">
    <ion-segment value="new" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="new">
        <ion-label style="color:whitesmoke">New Grievances</ion-label>
      </ion-segment-button>
      <ion-segment-button value="status">
        <ion-label style="color:whitesmoke">Grievances Status</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-card>
  <div class="login-section " *ngIf="new">
    <div class="login-form">
<ion-card >
  <ion-item lines="none">
    <!-- <ion-icon name="mail-open-outline"></ion-icon> -->
   
    <ion-input type="mail" placeholder="Personal No" readonly="true" [(ngModel)]="persno" ></ion-input>
  </ion-item>
  <ion-item lines="none">
    <!-- <ion-icon name="mail-open-outline"></ion-icon> -->
   
    <ion-input type="text" placeholder="Date" readonly="true" [(ngModel)]="today" ></ion-input>
  </ion-item>
  <ion-item lines="none">
    <!-- <ion-icon name="mail-open-outline"></ion-icon>
   
    <ion-input type="mail" placeholder="Subject" [(ngModel)]="username"></ion-input> -->

    <ion-label>Subject</ion-label>
    <ion-select  okText="Ok" cancelText="Dismiss" (ionChange)="grievType($event)">
      <div  style="overflow:scroll" >
        <ion-select-option *ngFor="let g of grievanceList" value="{{g.comp_sub_cd}}">{{g.comp_subject}}</ion-select-option>
       </div>
      
    </ion-select>
  </ion-item>
  <ion-item lines="none">
    <!-- <ion-icon name="mail-open-outline"></ion-icon> -->
   
    <ion-input type="mail" placeholder="Type here ......" [(ngModel)]="griev"></ion-input>
    
  </ion-item>
  <h3>Reference Letter If Any (Optional)</h3>
  <ion-item lines="none">
    <!-- <ion-icon name="mail-open-outline"></ion-icon> -->
   
    <ion-input type="mail" placeholder="Reference 1" [(ngModel)]="ref1"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <!-- <ion-icon name="mail-open-outline"></ion-icon> -->
   
    <ion-input type="mail" placeholder="Date" [(ngModel)]="date1" (click)="showDatepicker('2')"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <!-- <ion-icon name="mail-open-outline"></ion-icon> -->
   
    <ion-input type="mail" placeholder="Reference 2" [(ngModel)]="ref2"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <!-- <ion-icon name="mail-open-outline"></ion-icon> -->
   
    <ion-input type="mail" placeholder="Date" [(ngModel)]="date2" (click)="showDatepicker('3')"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Wish to Upload Supporting Document</ion-label>
    <ion-select value="no" okText="Ok" cancelText="Dismiss" (ionChange)="uploadDoc($event)">
      <ion-select-option value="yes">Yes</ion-select-option>
      <ion-select-option value="no">No</ion-select-option>
    </ion-select>
  </ion-item>

  <div *ngIf="upload" class="action-button ion-padding">
    <ion-item lines="none">
      <!-- <ion-icon name="mail-open-outline"></ion-icon> -->
      <!-- <ion-label>Selected File</ion-label> -->
      <input type="file" (change)="selectFile($event)" placeholder="Upload file">
    </ion-item>
    <ion-button expand="round" size="large" class="login-button" (click)="uploadFile()" style="color:black" >Upload Document</ion-button>
  </div>
  <div class="action-button ion-padding">
  <ion-button expand="round" size="large" class="login-button" (click)="submit()" style="color:black" >Submit</ion-button>
</div>
</ion-card>
</div>
</div>

<div class="login-section " *ngIf="!new">
  <div class="login-form">
    <ion-card *ngFor="let list of grievanceStatusList">
        <!-- <ion-card *ngFor='let m of mp5'> -->
          
          <ion-item lines="none"> 
            <ion-label>
              <strong>
              <h6 class="ion-text-wrap text1">Case ID</h6>
            </strong>
            </ion-label>
            <ion-label>
              <h6 class="ion-text-wrap">{{list.Case_Id}}</h6>
            </ion-label>
          </ion-item>
          <ion-item lines="none"> 
            <ion-label>
              <strong>
              <h6 class="ion-text-wrap text1">Grievance ID</h6>
            </strong>
            </ion-label>
            <ion-label>
              <h6 class="ion-text-wrap">{{list.complaintid}}</h6>
            </ion-label>
          </ion-item>
          <ion-item lines="none"> 
            <ion-label>
              <strong>
              <h6 class="ion-text-wrap text1">Personal No</h6>
            </strong>
            </ion-label>
            <ion-label>
              <h6 class="ion-text-wrap">{{list.personal_no}}</h6>
            </ion-label>
          </ion-item>
          <ion-item lines="none"> 
            <ion-label>
              <strong>
              <h6 class="ion-text-wrap text1">Name</h6>
            </strong>
            </ion-label>
            <ion-label>
              <h6 class="ion-text-wrap">{{list.name}}</h6>
            </ion-label>
          </ion-item>
          <ion-item lines="none"> 
            <ion-label>
              <strong>
              <h6 class="ion-text-wrap text1">Rank</h6>
            </strong>
            </ion-label>
            <ion-label>
              <h6 class="ion-text-wrap">{{list.rank_desc}}</h6>
            </ion-label>
          </ion-item>
         
          <ion-item lines="none"> 
            <ion-label>
              <strong>
              <h6 class="ion-text-wrap text1">Subject</h6>
            </strong>
            </ion-label>
            <ion-label>
              <h6 class="ion-text-wrap">{{list.Comp_subject}}</h6>
            </ion-label>
          </ion-item>
          <ion-item lines="none"> 
            <ion-label>
              <strong>
              <h6 class="ion-text-wrap text1">Details of Case</h6>
            </strong>
            </ion-label>
            <ion-label>
              <h6 class="ion-text-wrap">{{list.Details_of_case}}</h6>
            </ion-label>
          </ion-item>
          <ion-item lines="none"> 
            <ion-label>
              <strong>
              <h6 class="ion-text-wrap text1">Case Date</h6>
            </strong>
            </ion-label>
            <ion-label>
              <h6 class="ion-text-wrap">{{list.Case_dt}}</h6>
            </ion-label>
          </ion-item>
          <ion-item lines="none"> 
           <ion-button style=" --background: #f9c67a;" (click)="trackCase(list.Case_Id)">Track Case</ion-button>
          </ion-item>
    </ion-card>
</div>
</div>
</ion-content>