ion-content{
    // --background:linear-gradient(#ff0000,#ff1a1a,#ff3333,#ff5050 ,#ff6666,#ff8080);
     --background: url('../../../assets/imgs/otherbg.jpg') center center / cover;
   // --background-size: 300px 100px
   }
   ion-select {
    width: 100vw;
    
    justify-content:left;
  }
  .my-custom-interface .select-interface-option {
   --width:100vw;
   width:100vw
  }
  ion-select.myCustomSelect{
    width: 100%;
    max-width: 100% !important;
  }
  
.login-section{
    margin-top:5%;
    height: 95%;
    width: 100%;
    max-width: 500px;
  //  background-color:#f6f4f4;
    right: 0;
    left: 0;
    bottom: 0;
    //position: fixed;
    margin: auto;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
    opacity: 0.9;
    overflow-y: auto;
    .heading{
        text-align: center;
        h1{
            font-size: 1.6rem;
            text-align: center;
        }
    }
    
.login-form{
    .form-input{
        position: relative;
        margin-bottom: 10px;
        margin-top: 20px;
        ion-item::part(native) {
            padding-left: 0;
        }
        ion-icon{
            position: absolute;
            // top: 37px;
            z-index: 2;
            font-size: 1.8rem;
            left: 5px;
            padding-left: 5px;
        }
        ion-label{
            position: absolute;
            margin-left: 35px;
            font-weight: bold;
            font-size: 0.8rem;
            top: 3px;
        }
     ion-input{
         font-size: 1.2rem;
         --padding-start: 17%;
        //  --padding-top: 36px;
         color: #7b7b7b;
     }
    }
}
.action-button{
    text-align: center;
    .login-button{
        --color: white;
        opacity: 9999;
        --background: #f9c67a;
        width: 90%;
        height: 50px;
        margin: auto 5%;
    }
}
}
.ion-item1{
    border: 1px solid #a0a0a0;
    border-radius: 20px;
}
.forgetText{
    margin-top: -5%;
    text-align: right;
    color: #860404;;
    font-size: 19px;
    padding-right: 5%;
    text-decoration-line: underline;
    font-family: -webkit-body;
}
.logText{
    padding-right: 5%;
    text-align: right;
    color:aliceblue;
    text-decoration-line: underline;
    font-family: -webkit-body;
    font-weight: 600;
}
a{
    color: #16ada2;
    font-weight: bold;
    text-transform: uppercase;
   }
   .heading{
       .logo{
           width: auto;
        height: 115px;
       }
   }
   ion-avatar{
    margin: auto;
    width: 120px;
    height: 86px;
    border-radius: 50%;
}
.regas{
    margin: 5% 0;
}
.registeras{
    background: white;
    border-radius: 21px;
    ion-item{
        background: none;
        border-radius: 21px;
    }
}

.item1{
    margin-top: -10px;
}
ion-card{
    border-radius: 10px;
    border: 1px solid #1c2f38;
}
ion-content{
    font-family: Arial, Helvetica, sans-serif;
}
.text1{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
}
ion-list{
    background: #dddd;
}
ion-button{
color:black
}