<ion-header>
  <ion-toolbar style=" --background: #c73007;color: whitesmoke">
    <ion-buttons slot="start" (click)="showMenu()">
     <ion-icon style="--color:whitesmoke;font-size: 1.5em;" name="ellipsis-vertical-outline"></ion-icon>
   </ion-buttons>
   <ion-buttons slot="start">
    <ion-back-button style="--color:whitesmoke" defaultHref="/personalInfo"></ion-back-button>
  </ion-buttons>
   <ion-title>
    Edit Profile
   </ion-title>
   <ion-buttons slot="end">
     <ion-icon name="log-out-outline" (click)="logout()" style="--color:rgb(143, 106, 106);font-size: 1.7em;"></ion-icon>
     <p (click)="logout()">Sign Out</p>
    </ion-buttons>
  </ion-toolbar>
 </ion-header>
<ion-content>
  <div>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="person-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Pers No</ion-label>
        <span>{{data.peronalNo}}</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="person-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Rank</ion-label>
        <span>{{data.rankDesc}}</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="person-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Name</ion-label>
        <span>{{data.name}}</span>
      </ion-item>
    </ion-card>
      <ion-card>
        <ion-item>
          <ion-avatar slot="start" class="itemav">
            <ion-icon name="calendar-outline" class="itemicon"></ion-icon>
          </ion-avatar>
          <ion-label position="stacked" style="font-size: 25px;">Date of Birth</ion-label>
          <span>{{data.birthDate}}</span>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-avatar slot="start" class="itemav">
            <ion-icon name="calendar-outline" class="itemicon"></ion-icon>
          </ion-avatar>
          <ion-label position="stacked" style="font-size: 25px;">Dt of Commission</ion-label>
          <span>{{data.commisionDate}}</span>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-avatar slot="start" class="itemav">
            <ion-icon name="calendar-outline" class="itemicon"></ion-icon>
          </ion-avatar>
          <ion-label position="stacked" style="font-size: 25px;">Dt of Retirement/Death</ion-label>
          <span>{{data.retirementDate}}</span>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-avatar slot="start" class="itemav">
            <ion-icon name="invert-mode-outline" class="itemicon"></ion-icon>
          </ion-avatar>
          <ion-label position="stacked" style="font-size: 25px;">PPO No</ion-label>
          <span>{{data.ppoNo}}</span>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-avatar slot="start" class="itemav">
            <img src="../../../assets/imgs/pan.jpeg">
          </ion-avatar>
          <ion-label position="stacked" style="font-size: 25px;">PAN (Officer)</ion-label>
          <span>{{data.selfPan}}</span>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-avatar slot="start" class="itemav">
            <ion-icon name="podium-outline" class="itemicon"></ion-icon>
          </ion-avatar>
          <ion-label position="stacked" style="font-size: 25px;">Arms/Service</ion-label>
          <span>{{data.corpsName}}</span>
        </ion-item>
      </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <img src="../../../assets/imgs/aadhar.jpeg">
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Aadhar (Officer)</ion-label>
        <span>{{data.selfAadhar}}</span>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="trophy-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Gallantry Award(if any)</ion-label>
        <ion-input [(ngModel)]="data.gal"></ion-input>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="call-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="font-size: 25px;">Alternate Mobile (user)</ion-label>
        <ion-input type="tel" maxlength="10" [(ngModel)]="data.selfAltMobile"></ion-input>
      </ion-item>
    </ion-card>
    <ion-card>
    <ion-item lines="none">
      <!-- <ion-icon name="mail-open-outline"></ion-icon> -->
      <ion-label>Selected File</ion-label>
      <ion-input readonly="true"  [(ngModel)]="fileName"></ion-input>
    </ion-item>
  </ion-card>
    <ion-card style="height:89px">
      <ion-item >
        <ion-avatar slot="start" class="itemav">
          <ion-icon name="document-attach-outline" class="itemicon"></ion-icon>
        </ion-avatar>
        <ion-label position="stacked" style="    font-size: 25px;line-height: 33px;">Upload PPO(JPG & PDF format only)</ion-label>
        <ion-item lines="none" style="margin-top: 7px;"> 
          <ion-button style=" --background: #f9c67a;" (click)="uploadFile()">Upload</ion-button>
         </ion-item>
      </ion-item>
      
    </ion-card>

    <div class="action-button ion-padding">
      <!-- <p class="forgetText" style="color: aliceblue" (click)="moveTo('2')">Forgot MPIN</p> -->
      <ion-button expand="round"  class="login-button" style="color: black;" (click)="submit()">Submit</ion-button>
      <ion-button expand="round"  class="login-button" style="color: black;margin-top: 5px;" (click)="updateEmailMobile()">Update EmailId/Mobile No.</ion-button>
      <!-- <p class="forgetText" routerLink="/creatempin" style="color: aliceblue;margin-top: 3%;">Create MPIN</p> -->
    </div>
  </div>
</ion-content> 