// ion-content{
//     --background:linear-gradient(0deg,rgba(0,0,0,0.7),rgba(0,0,0,0.1)),
//     url("../../../assets/img/register_img.jpg") no-repeat center center / cover;
// }
ion-content{
    --background:linear-gradient(0deg,rgba(0,0,0,0.7),rgba(0,0,0,0.1)),
    url("../../../assets/imgs/otherbg.jpg") no-repeat center center / cover;
}
.login-section{
    height: 74vh;
    width: 100%;
    max-width: 500px;
  //  background-color: #f6f4f4;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    margin: auto;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
    opacity: 0.9;
    //border: 1px solid #47484a;
    .heading{
        //margin-top: 20px;
        text-align: center;
        h1{
            font-size: 1.6rem;
            text-align: center;
        }
    }
   
.login-form{
    // margin-top: -5%;
    .form-input{
        position: relative;
        margin-bottom: 10px;
        ion-item::part(native) {
            padding-left: 0;
        }
        ion-icon{
            position: absolute;
            // top: 37px;
            z-index: 2;
            font-size: 1.8rem;
            left: 5px;
            padding-left: 5px;
        }
        ion-label{
            position: absolute;
            margin-left: 35px;
            font-weight: bold;
            font-size: 0.8rem;
            top: 3px;
        }
     ion-input{
         font-size: 1.2rem;
         --padding-start: 17%;
        //  --padding-top: 36px;
         color: #7b7b7b;
     }
    }
}
.action-button{
    text-align: center;
    .login-button{
        --color: white;
        opacity: 9999;
         --background: #f9c67a;
        width: 90%;
        height: 50px;
        margin: auto 5%;
    }
}
}
ion-item{
    border: 1px solid #a0a0a0;
    border-radius: 20px;
}
.forgetText{
    margin-top: -5%;
    text-align: right;
    color: #860404;;
    font-size: 19px;
    padding-right: 5%;
    text-decoration-line: underline;
    font-family: -webkit-body;
}
.logText{
    padding-right: 5%;
    text-align: right;
    text-decoration-line: underline;
    font-family: -webkit-body;
    font-weight: 600;
}
a{
    color: #21cdc1;
    font-weight: bold;
    text-transform: uppercase;
   }
   .heading{
       .logo{
           width: auto;
        height: 115px;
        margin-top: -10%;
       }
   }
input{
    border: 1px solid black;
}
#textbox{text-transform:uppercase}
ion-avatar{
    margin: auto;
    width: 120px;
    height: 86px;
    border-radius: 50%;
}