<ion-header>
  <ion-toolbar style="--background: #c73007">
    <ion-buttons slot="start" >
      <ion-back-button style="color:aliceblue" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:aliceblue">
      Downloads
    </ion-title>   
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-card *ngFor="let d of downloads">
    <ion-row> <ion-col size="10"> <h3><a href="{{d.FileURL}}">{{d.FileName}}</a></h3></ion-col>
      <ion-col size="2"><a  (click)="open(d.FileURL)"><ion-icon name="download-outline" style="font-size: 2em;margin: 50% 0;"></ion-icon></a></ion-col>
      
      </ion-row>
  </ion-card>
</ion-content>