<ion-header>
  <ion-toolbar style=" --background: #c73007;color: whitesmoke">
    <ion-buttons slot="start" (click)="showMenu()">
     <ion-icon style="--color:whitesmoke;font-size: 1.5em;" name="ellipsis-vertical-outline"></ion-icon>
   </ion-buttons>
   <ion-buttons slot="start">
     <ion-back-button style="--color:whitesmoke" defaultHref="/personalInfo"></ion-back-button>
   </ion-buttons>
   <ion-title>
    Update Correspondence Address
   </ion-title>
   <ion-buttons slot="end">
     <ion-icon name="log-out-outline" (click)="logout()" style="--color:rgb(143, 106, 106);font-size: 1.7em;"></ion-icon>
     <p (click)="logout()" style="color:whitesmoke;">Sign Out</p>
    </ion-buttons>
 </ion-toolbar>
 </ion-header>
 <ion-content>
   <ion-card style="background: blanchedalmond;">
   <ion-row class="firstRow">
     <ion-col size="4" class="heading"><p>House No.</p></ion-col>
     <ion-col size="8"> <ion-input type="text" [(ngModel)]="houseNo"></ion-input></ion-col>
   </ion-row>

  <ion-row>
    <ion-col size="4" class="heading"><p>Mohalla:</p></ion-col>
    <ion-col size="8"> <ion-input type="text" [(ngModel)]="mohalla"></ion-input></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4" class="heading"><p>Vill/Town:</p></ion-col>
    <ion-col size="8"> <ion-input type="text" [(ngModel)]="village"></ion-input></ion-col>
  </ion-row>
  <!-- <ion-row>
    <ion-col size="4" class="heading"><p>Tehsil:</p></ion-col>
    <ion-col size="8"> <ion-input type="text" [(ngModel)]="tehsil"></ion-input></ion-col>
  </ion-row> -->
  <ion-row>
    <ion-col size="4" class="heading"><p>Pin Code:</p></ion-col>
    <ion-col size="8"> <ion-input maxlength="6" type="tel" [(ngModel)]="pinCode"></ion-input></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4" class="heading"><p>Post Office:</p></ion-col>
    <ion-col size="8"> <ion-input type="text" [(ngModel)]="postOffice" ></ion-input></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4" class="heading"><p>Police Station:</p></ion-col>
    <ion-col size="8"> <ion-input type="text" [(ngModel)]="policeStation"></ion-input></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4" class="heading"><p>State:</p></ion-col>
    <ion-col size="8">
      <ion-select  okText="Ok" cancelText="Dismiss" (ionChange)="getDistrict($event)">
  
        <ion-select-option *ngFor="let s of states" value="{{s.State_Code}}">{{s.State_Name}}</ion-select-option>
        
      </ion-select></ion-col>
  </ion-row> 
   <ion-row>
    <ion-col size="4" class="heading"><p>District:</p></ion-col>
    <ion-col size="8">
       <ion-select  okText="Ok" cancelText="Dismiss" (ionChange)="getDistrictValue($event)">
      <ion-select-option *ngFor="let d of district" value="{{d.District_Code}}">{{d.District_Name}}</ion-select-option>
       </ion-select></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4" class="heading"><p>Mobile No:</p></ion-col>
    <ion-col size="8"> <ion-input type="tel" maxlength="10" [(ngModel)]="mobile"></ion-input></ion-col>
  </ion-row>
  <div class="login-button">
    <ion-button expand="round" size="large" style="color: black;  --background: #f9c67a;" (click)="updateAddress()">Update Address</ion-button>
  </div>
</ion-card>
 </ion-content>